<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203475931955-idpid6821dumpolpfmods7mg630670bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203475931955-idpid6821dumpolpfmods7mg630670bs</string>
	<key>API_KEY</key>
	<string>AIzaSyC44ahSQMG7BQPv4egsyFI8yUczMIjlc5o</string>
	<key>GCM_SENDER_ID</key>
	<string>203475931955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hatrix.CafeNibm</string>
	<key>PROJECT_ID</key>
	<string>cafenibm-37c49</string>
	<key>STORAGE_BUCKET</key>
	<string>cafenibm-37c49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203475931955:ios:4860cb312136ff973a6446</string>
</dict>
</plist>